body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    flex-direction: row;
    gap: 2px;
}

h4 {
    font-family: 'DIN Condensed Web', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 38px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
    flex-wrap: wrap;
    transition: transform 0.3s ease;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 133.5%;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.7;
    flex: none;
    flex-grow: 0;
    padding-top: 10px;
}

.gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.8px;
    position: relative;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery img {
    filter: brightness(75%);
    width: 100%;
    height: auto;
    display: block;
    transition: transform 1s ease, filter 0.3s ease, opacity 0.3s ease;
}

.image-overlay {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex; /* Hidden by default */
    z-index: 10; /* Ensure it's above other content */
}

.gallery-item:hover img {
    transform: scale(1.1);
    filter: grayscale(100%) blur(5px); /* Adjusted grayscale filter */
    opacity: 0.5; /* Reduced brightness */
}

.info {
    position: absolute;
    bottom: 8%;
    left: 25px;
    color: white;
    transition: transform 1s ease, opacity 0s ease;
}

.gallery-item:hover .info {
    bottom: 0px;
    transform: translateY(-15%);
    opacity: 1;
}

.info h4, .info p {
    margin: 0;
    color: inherit;
}

.shadow {
    position: absolute;
    visibility: hidden;
    left: -17.75%;
    right: -17.75%;
    top: -0.51%;
    bottom: -0.68%;
    background: #000000;
    background-blend-mode: hue;
}

.gallery-item:hover .shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.663) blur(10px)) 100%;

}

.know-more {
    display: none; /* Initially hidden */
    align-items: center; /* Vertically center the items */
    color: #00ffee;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    margin-top: -3px;
    margin-bottom: 20px;
  
    
}

.know-more svg {
    margin-top: 17px;
    margin-left: 8px; /* Space between text and SVG */
    fill: #00ffee;
    width: 40px;
    height: 40px;
}

.gallery-item:hover .know-more {
    display: flex; /* Display on hover */
    opacity: 1; /* Ensure visibility */
    bottom: auto; /* Prevent any inheritance of bottom property from info */
    transform: none; /* Prevent any transformation from info */
    transition: opacity 0.3s ease; /* Explicitly set transition */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .info {
        display: none;
    }
}
